<div class="m-3">
    <form action="" method="post" class="container login_form">
        <h1 class="text-center">Cambiar contrase単a</h1>
        <div class="data">
            <label for="password1">Ingrese la nueva contrase単a</label><br>
            <input type="password" name="password1" id="newPass1">

            <label for="password2">Vuelva a ingresar la contrase単a</label><br>
            <input type="password" name="password2" id="newPass2">

            <div id="errorMsg"></div>

            <input type="button" value="Cambiar contrase単a" id="btn_ChangePassword" class="btn btn-success">
        </div>
    </form>
</div>