<div class="text-white m-3">
    <h1>Cambiar rol de usuario</h1>
    <h2>Rol actual: {{role}}</h2>
    <input type="button" value="Change Role" class="btn btn-warning" id="btnChangeRole" user-id="{{userId}}">
    <a href="http://localhost:8080/api/users/{{userId}}/documents" class="btn btn-warning">Subir documentación</a>
</div>