<div class="m-3">
    <form action="" method="post" class="container login_form">
        <h1 class="text-center">Recuperación de cuenta</h1>
        <div class="data">
            <div>
                <label for="email">Email</label><br>
                <input type="text" name="email" id="inputMail">
            </div>

            <input type="button" value="Enviar email" class="btn btn-success" id="btn_email">
        </div>
    </form>
</div>
