<div class="m-3">
    <form action="/auth/login" method="post" class="container login_form">
        <div class="data">
            <div>
                <label for="email">Email</label><br>
                <input type="text" name="email">
            </div>
            <div>
                <label for="password">password</label><br>
                <input type="password" name="password">  
            </div>
            <input type="submit" value="Sign in" class="btn btn-success btn_sign">
        </div>
        <a href="http://localhost:8080/views/changePasswordEmailView" class="text-center mb-3 text-primary">¿Olvidaste tu contraseña?</a>
    </form>
    <div class="container register_div">        
        <a href="http://localhost:8080/views/github" class=" login_github">Sign in with Github</a>
        <p>Don't have an account yet?<a href="http://localhost:8080/views/register-view" class="ms-2">Register</a></p>
    </div>
</div>
